.admin-layout {
  display: flex;
}

.admin-layout .ant-layout {
  margin-left: 200px;
  transition: margin-left 0.2s;
}

.admin-layout .ant-layout-sider-collapsed ~ .ant-layout {
  margin-left: 80px;
}

.admin-content {
  padding: 24px;
  background: var(--bg-base);
}
