.notification-bell {
  position: relative;
}

.notification-bell__button {
  border: none;
  box-shadow: none;
}

.notification-bell__dropdown {
  position: absolute;
  top: 44px;
  right: 0;
  z-index: 1000;
}
